---
import OptionSelector from "@components/OptionSelector.jsx";
import SectionIndex from "@components/SectionIndex.astro";
import { getCollection, render } from "astro:content";
import { date, optional } from "astro:schema";
import {collectionSorter} from '@utils/collectionSorter'

const descriptions = await getCollection('descriptions')

//collections does'nt has any order pattern, to fix it we use the sort method
const options = collectionSorter(descriptions)
---


<SectionIndex>
    
        
        <article class="max-w-md prose flex flex-col justify-center">
        <h2 class="inline-block mb-20">
            <span class="text-theme-gray-light">/</span>
            <span class="text-theme-gray">tech-stack</span>
        </h2>
        
        <OptionSelector options={options} toManage={"description"}  client:only/>
        {
            descriptions.map(async(description)=>{
                const {data} = description
                const {dataId, style} = data
                const { Content } = await description.render();

                return(
                    <div data-id={`description-${dataId}`} class:list={`min-h-[400px] max-h-[400px] overflow-auto  ${style}`}>
                        

                        <div class="">
                           <Content/> 
                        </div>

                        
                    </div>
                )
            })
        }
        
       </article>
   
</SectionIndex>

