---
import OptionSelector from "@components/OptionSelector.jsx";
import SectionIndex from "@components/SectionIndex.astro";
import { getCollection } from "astro:content";
import {collectionSorter} from '@utils/collectionSorter'
import SectionTitle from "@components/SectionTitle.astro";
import SectionNameBg from "@icons/ui-components/SectionNameBg.astro";


const descriptions = await getCollection('descriptions')

//collections does'nt has any order pattern, to fix it we use the sort method
const options = collectionSorter(descriptions)
---


<SectionIndex style="">
    
        
        <article class="prose flex flex-col relative justify-center">
            <SectionTitle>tech-stack</SectionTitle>
            

        
        <OptionSelector options={options} toManage={"description"}  client:only/>
        {
            descriptions.map(async(description)=>{
                const {data} = description
                const {dataId, style} = data
                const { Content } = await description.render();

                return(
                    <div data-id={`description-${dataId}`} class:list={`min-h-[300px] max-h-[320px] overflow-auto  ${style}`}>
                        

                        <div class="dark:text-theme-light">
                           <Content/> 
                        </div>

                        
                    </div>
                )
            })
        }
        
       </article>

       <!-- <SectionNameBg style="-right-130">
            /TECH<br/>STACK
       </SectionNameBg> -->

       
   
</SectionIndex>


