---
import SectionIndex from "./SectionIndex.astro";
import sendmeMockup from "../images/sendme-mockup.avif"
import adminSendmeMockup from "../images/admin-sendme-mockup.avif"
import { Image } from "astro:assets";

const PROJECTS = [
    

    {
        id: 0,
        title: 'admin sendme - Administration App',
        description: 'Order management app, turso database implementation. created using Node JS and SQlite',
        mockup: adminSendmeMockup.src,
        teckStack: ['node.js', 'express.js', 'sqlite', 'turso DB', 'react.js'],
        style: 'hidden',

    },

    {
        id: 1,
        title: 'sendme - App integrated with Amazon API',
        description: 'Created from scratch, using React and Tailwind CSS, Integrated with a backend based on Node JS and SQLite',
        mockup: sendmeMockup.src,
        style: '',
        teckStack: ['javascript', 'react.js', 'tailwind.css', 'node.js', 'sqlite']

    },
    
    {
        id: 2,
        title: 'admin sendme - Administration App',
        description: 'Order management app, turso database implementation. created using Node JS and SQlite',
        mockup: adminSendmeMockup.src,
        style: 'hidden',
        teckStack: ['node.js', 'express.js', 'sqlite', 'turso DB', 'react.js']

    },
    
]
---

<SectionIndex>
    
    <div class="w-full h-full flex flex-col justify-center items-center">
        {
            PROJECTS.map((project)=>(
                <>
                    
                        <div project-info-id={project.id} class="prose max-w-md" class:list={project.style}>
                            <h2 class="inline-block mb-20">
                                <span class="text-theme-gray-light">/</span>
                                <span class="text-theme-gray">projects</span>
                            </h2>
                    
                            <h3>
                                {project.title}
                            </h3>
                    
                            <div>
                                {project.description}
                            </div>
                    
                        </div>
                        <div class="flex flex-col w-4xl items-center relative min-h-80 max-h-80" project-info-id={project.id} class:list={project.style}>
                            <div class="flex" >
                                <picture class="z-10">
                                    {
                                        PROJECTS[PROJECTS.indexOf(project)-1]?(
                                        <img option-mockup-id = {PROJECTS[PROJECTS.indexOf(project)-1].id} class="page-mockup-aside absolute page-mockup h-72 w-auto mt-9 left-0" src={PROJECTS[PROJECTS.indexOf(project)-1].mockup} alt={`Screenshot of ${project.title}, a project created by devian.`}>
                                        ):(
                                            ""
                                        )
                                    }
                                </picture>

                                <picture mockup-container-id = {project.id} class="mockup-container z-20 h-72 mt-9 rounded-xl overflow-hidden relative flex justify-center items-center">
                                    <img current-mockup-id = {project.id} option-mockup-id={`${project.id}`} class="principal-mockup z-10 page-mockup size-full" src={project.mockup} alt={`Screenshot of ${project.title}, a project created by devian.`}>
                                    <section class="absolute size-full flex">
                                        <div option-circle={project.id} class="size-full inset-0 circle-deco z-20 bg-black/85 absolute rounded-full invisible opacity-0 flex justify-center  self-center place-self-center">
                                        
                                        </div>

                                       
                                        <article more-info-id = {project.id} class="z-30 absolute size-full pointer-events-none flex flex-col pl-5 pt-5 pr-5 text-white invisible opacity-0">
                                            <h3 class="text-md">
                                                {project.title}
                                            </h3>
                                            <p class="text-sm mt-2 text-md font-extralight">
                                                {project.description}
                                            </p>
                                            <h4 class='mt-4'>
                                                Tools used
                                            </h4>
                                            <div class="grid grid-cols-2 pr-5">
                                                <ul class=" mt-2 text-md grid grid-cols-2 font-extralight">
                                                    {project.teckStack.map((tech)=>(
                                                        <li>{tech}</li>
                                                    ))}
                                            </ul>

                                            <div class="size-full flex flex-col gap-4 items-end text-theme-gray">
                                                <button class="bg-white px-3 py-1 rounded-lg">
                                                    open site
                                                </button>
                                                <button class="bg-white px-3 py-1 rounded-lg">
                                                    more info
                                                </button>
                                            </div>
                                            
                                            </div>
                                        </article>
                                        
                                        
                                    </section>
                                </picture>
                            
                                <picture class="z-10 h-72">
                                    {
                                        PROJECTS[PROJECTS.indexOf(project)+1]?(<img option-mockup-id = {PROJECTS[PROJECTS.indexOf(project)+1]?.id} class="page-mockup-aside absolute page-mockup right-0 h-72 w-auto mt-9 hover:" src={PROJECTS[PROJECTS.indexOf(project)+1]?.mockup} alt="Screenshot of sendme, a project created by devian.">)
                                        :
                                        ("")
                                    }
                                </picture>
                            </div>

                            {/* <!-- <strong class="self-end mt-11 font-normal text-theme-primary-blue underline underline-offset-8">
                                all projects
                            </strong> --> */}
                        </div>
                    
                    
                </>
            ))
        }
    </div>
    
</SectionIndex>


<script>

    const mockupsOptions = document.querySelectorAll('.page-mockup')
    
    let selectedMockup = '1'

    mockupsOptions.forEach((mockup)=>{
        const mockupId = mockup.getAttribute('option-mockup-id')
        
        mockup.addEventListener('click', ()=>{
            if (selectedMockup == mockupId){
                return
            }

            if (mockupId){
                let projects = document.querySelectorAll(`[project-info-id = '${selectedMockup}']`)
                projects.forEach((project)=>{
                project.classList.add('hidden')
                selectedMockup = mockupId
        
                projects = document.querySelectorAll(`[project-info-id = '${selectedMockup}']`)

                projects.forEach((project)=>{
                    project.classList.remove('hidden')
            })
            })
            }
            

                    
        })
    })

    

    // Manejar la animación del círculo
    const mainMockups = document.querySelectorAll('.principal-mockup')


    mainMockups.forEach((mockup) => {
        const mockupId = mockup.getAttribute('option-mockup-id')
        const circleAnimation = document.querySelector(`[option-circle = '${mockupId}']`)
        const moreInfoOnHover = document.querySelector(`[more-info-id = '${mockupId}']`)
        if (!mockupId || !circleAnimation) return

        // Manejar mouseenter
        mockup.addEventListener('mouseenter', () => {

           
        
            circleAnimation.classList.remove('invisible', 'opacity-0')
            circleAnimation.classList.add('mockup-more-info')

            
            
            moreInfoOnHover?.classList.remove('invisible', 'opacity-0')
            moreInfoOnHover?.classList.add('more-info-on-hover')
            
            
            
          
        })

        // Manejar mouseleave
        mockup.addEventListener('mouseleave', () => {
            const handleTransitionEnd = () => {

                
                
                   
                circleAnimation.classList.add('invisible')
                circleAnimation.removeEventListener('transitionend', handleTransitionEnd)
                moreInfoOnHover?.classList.add('invisible')
                moreInfoOnHover?.removeEventListener('transitionend', handleTransitionEnd)
                
                
            }
            
            circleAnimation.addEventListener('transitionend', handleTransitionEnd)
            circleAnimation.classList.remove('mockup-more-info')
            circleAnimation.classList.add('opacity-0')

            moreInfoOnHover?.addEventListener('transitionend', handleTransitionEnd)
            moreInfoOnHover?.classList.add('opacity-0')
            moreInfoOnHover?.classList.remove('more-info-on-hover')
        })
    })
</script>

<style>
    .mockup-container{
        border: 1px solid rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
    }

    .principal-mockup{
        transition: all 0.4s ease-in-out;
        filter: drop-shadow(0px 0px 0.5px #000000);
        cursor: pointer;
    }

    .principal-mockup:hover {
        filter: drop-shadow(0px 0px 0.5px #000000) blur(4px);
        transform: scale(1.05);
    }

    .page-mockup{
        background: url(image.png);
        border-radius: 10px;
        aspect-ratio: 495/288;
    }

    .page-mockup-aside{
        transform: scale(0.6);
        opacity: 0.2;
        filter: blur(1px);
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 1);
    }

    .page-mockup-aside:hover{
        transform: scale(0.65);
        transition: transform 0.1s ease-in-out;
    }

    .circle-deco {
        position: absolute;
        transform: scale(0);
        width: 20px;
        height: 20px;
        transition: all 0.4s ease-in-out;
        pointer-events: none;
        will-change: transform, opacity;
    }

    .mockup-more-info {
        transform: scale(30);
        opacity: 0.95;
    }

    .more-info-on-hover{
        opacity: 1;
        transition: all 1s ease-in-out;
        will-change: opacity;
    }
</style>
