---
import {getCollection} from 'astro:content'

const projects = await getCollection('projects')

interface Props{
    currentProject: string
}

const{currentProject} = Astro.props
const filteredProjects = projects.filter((project)=>project.slug != currentProject)

---

<nav id="sidebar" class="text-sm flex flex-col">
    
    <div class="sticky top-50 flex flex-col gap-3">
        <span class="dark:text-white font-bold w-fit">
            Another projects
        </span>
        <ul class="flex flex-col gap-1">
            {
                filteredProjects.map(({data})=>{

                    const resource = data.shortCuts.Resources.find(([name]) => name === 'Project details');
                    const formatted = resource ? { name: resource[0], link: resource[1] } : null;


                    return(
                        <li class="truncate">
                            <a class="" href={formatted?.link}>{data.title}</a>
                        </li>   
                    )    
                })
            }
        </ul>
    </div>
</nav>